#ignore eclipse class files
bin/*

#ignore the build dir
build/*

#ignore the artifacts
artifact/*

#don't assume any eclipse classpath
.classpath

#ignore the eclipse project
.project

#ignore eclipse settings
.settings
